.hydrate {
  height          : 100vh;
  width           : 100vw;
  position        : relative;

  display         : flex;
  flex-direction  : column;
  justify-content : flex-start;
  align-items     : center;
}

.hydrate > * {
  margin          : 0;
}

.hydrate > h1 {
  margin-top      : 1em;
}

.hydrate > h2 {
  font-size       : 1.2em;
  margin-bottom   : 1em;
}

.hydrate > h3 {
  font-size       : 1em;

  position        : absolute;
  left            : 2%;
  bottom          : 10%;
  width           : 20%;
}

.story {
  width           : 50%;
  background      : white;

  border-radius   : 16px;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;

  box-shadow      : 
    0 2px 4px black,
    0 5px 10px black;
}

.story > img {
  height          : 100%;
  width           : 100%;
  border-radius   : 16px 16px 0 0;
  object-fit      : cover;
}

.story > span {
  line-height     : 1.5;
  height          : calc(1.5em * 2);
  min-height      : fit-content;
  padding         : 0 1em;
  margin          : 1em;
}

.story > span > p {
  font-style      : italic;
  font-weight     : 500;
  margin          : 0;
}