.modalClose {
  width           : 5em;
  max-width       : 100px;
  height          : 50px;
  padding         : 5px 0; 
  position        : absolute;
  left            : 0;
  top             : 0;
  margin          : 1em;
  z-index         : var(--z-buttons);
}

.modalClose:hover {
  cursor          : pointer;
  background      : gray;
}

.modalClose svg {
  height: 36px;
  width: 36px;
}