.modal {
  width           : 5em;
  max-width       : 100px;
  height          : 50px;
  padding         : 5px 0;
  border          : 0;
  border-radius   : 16px;
  background      : none;
  
  position        : absolute;
  left            : 0;
  top             : 0;
  margin          : 1em;
  z-index         : var(--z-buttons);
}

.modal:hover {
  cursor          : pointer;
  background      : gray;
}

.modal svg {
  height: 36px;
  width: 36px;
}