.logo > p {
  color           : var(--color-1);
  font-weight     : bold;
  font-family     : 'Grand Hotel', cursive;
  font-size       : 1.6em;
  letter-spacing  : 0.1em;
  margin          : 0;
  text-decoration : none;
}

