/* .logo {
  position        : absolute;
  top             : 0;
  left            : 0;
}

.logo > svg {
  max-height      : 40px;
  display         : block;
} */

/* .logo > span {
  margin          : 0 0.5em;
} */

.logo > p {
  /* display         : inline-flex;
  align-items     : center; */

  color           : var(--color-1);
  font-weight     : bold;
  font-family     : 'Grand Hotel', cursive;
  font-size       : 1.6em;
  letter-spacing  : 0.1em;
  margin: 0;
}

