.navSub {
  background-color: rgb(88, 88, 88);
  height          : var(--navSub-height);
  align-items     : center;
  justify-content : space-between;
  padding         : 0 1em;

  position        : absolute;
  top             : 0;
  z-index         : var(--z-navSub);

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.quickActions,
.links {
  height          : 100%;

  display         : flex;
  flex-direction  : row;

  list-style-type : none;
  padding         : 0;

  position        : relative;
}

.quickActions > li > div:first-of-type,
.links > li {
  height          : 100%;

  align-content   : center;
  
  margin          : 0 0.6em;
  color           : rgb(255,254,248);
  font-size       : 0.8em;
  font-weight     : bold;
  text-decoration : none;
  user-select     : none;

  transition      : all 150ms ease;
}

.links > li > a {
  display         : block;
  align-content   : center;
  height          : 100%;
} 

.links > li:hover {
  cursor          : pointer;
  text-shadow     : 0 0 3px var(--color-1);
}

.quickActions > li > div:first-of-type{
  display         : flex;
  flex-wrap       : wrap;
  align-items     : center;
  gap             : 0.5em;

  position        : relative;

  anchor-name     : --view-stock;
}

.quickActions > li > div:first-of-type > span {
  width           : 1em;
  height          : 100%;

  display         : flex;
}

.quickActions > li > div:first-of-type > span > svg {
  fill            : white;
}

.quickActions > li > div:first-of-type:hover {
  cursor          : pointer;
  text-shadow     : 0 0 3px var(--color-1);
}

.quickActions > li > div:first-of-type:active > span {
  transform       : translate(0, 20%);
  transition      : all 150ms ease;
}

.hideDrop {
  position    : absolute;
  z-index     : calc(var(--z-navSub) - 1);
  top         : calc(-1 * var(--navSub-drop));

  position-anchor: --view-stock;
  left        : calc(anchor(left) - 0.5em);

  transition: all 500ms ease;
}

.showDrop {
  position    : absolute;
  top         : var(--navSub-height);
  z-index     : calc(var(--z-navSub) - 1);
  left        : calc(anchor(left) - 0.5em);

  position-anchor: --view-stock;

  transition  : all 500ms ease;
}