.navSub {
  background-color: rgb(88, 88, 88);
  height          : 1.5em;
  align-items     : center;
  justify-content : center;
  padding         : 0 1em;
}

.links {
  display         : flex;
  flex-direction  : row;
  list-style-type : none;
  padding         : 0;
}

.links li {
  margin          : 0 1em;
  color           : rgb(255,254,248);
  font-size       : 0.8em;
  font-weight     : bold;
  text-decoration : none;
  user-select     : none;
}

.links > li:hover {
  text-decoration : underline;
  cursor          : pointer;
}