<main>
    <select id="filter" name="filter">
        <option value="active">Filter by: Active</option>
        <option value="inactive">Filter by: Inactive</option>
        <option value="no-filter" selected>No Filter</option>
    </select>
    <button id="create" class="btn" href="#">New User</button>
    <table>
        <thead>
            <tr>
                <th>Img</th>
                <th>User ID</th>
                <th><img src="./assets/arrow-down-arrow-up.svg"/>Username</th>
                <th><img src="./assets/arrow-down-arrow-up.svg"/>Given Name</th>
                <th><img src="./assets/arrow-down-arrow-up.svg"/>Family Name</th>
                <th><img src="./assets/arrow-down-arrow-up.svg"/>Contact</th>
                <th><img src="./assets/arrow-down-arrow-up.svg"/>Address</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</main>