<nav class="primary">
    <span class="logo">
        <img src="./assets/image-solid-full.svg"/>
        <b>Logo</b>
    </span>
    <form>
        <input type="search" placeholder="What are you looking for?">
    </form>
    <ul class="links">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
    </ul>
</nav>