.navSub {
    background-color: gray;
    height          : 1.5em;
    align-items     : center;
    justify-content : flex-start;
    padding         : 0 1em;
}

.links {
    display         : flex;
    flex-direction  : row;
    list-style-type : none;
    padding         : 0;
}

.links * {
  margin-right      : 0.5em;
}

/* .links * {
    margin-right    : 0.5em;
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    text-decoration : none;
}

.links *:hover {
    text-decoration : underline;
} */