<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta author="Sean">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script type="module" src="/javascript/auth.js" defer></script>
        <title><%- title %></title>
    </head>
    <body>
        <div id="auth">
            <span id="logo" class="logo">
                <img src="/assets/image-solid-full.svg"/ alt="logo">
                Logo
            </span>
            <%- body %>
        </div>
        <img src="/assets/image-solid-full.svg"/>
    </body>
</html>
