* {
    box-sizing  : border-box;
    font-family : 'Montserrat', sans-serif;
}

body {
    height          : 100vh;
    width           : 100vw;
    margin          : 0;

    display         : flex;
    flex-direction  : row;
}

body > div#auth, 
body > img {
    flex: 1 0 50%;
}

div#auth {
    height          : 100%;
    width           : 100%;
    background      : gray;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

div#auth > a#logo {
    position        : absolute;
    top             : 0;
    left            : 0;

    display         : inline-flex;
    align-items     : center;

    color           : black;
    text-decoration : none;
}

div#auth > a#logo:hover {
    cursor      : pointer;
    background  : hsl(0, 10%, 50%);
}

div#auth > a#logo > img {
    max-height: 40px;
    display: block;
}

div#auth > h1 {
    color   : white;
    margin  : 0;
}

div#auth > h6 {
    color    :hsl(0, 4%, 5%);
    margin   : 1em 0;
}

div#auth > form {
    margin          : 2em auto 0;
    width           : 80%;
    height          : fit-content;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

div#auth > form > * {
    width   : 100%;
}

div#auth label {
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    margin-bottom   : 0.5em;
}

div#auth input {
    margin-bottom   : 1em;
    height          : 2em;
}

div#auth button {
    height          : fit-content;
    color           : white;
}

.btn {
    color           : white;
    font-weight     : bold;

    background-color: dimgray;
    padding         : 2px 6px;
    width           : fit-content;
    height          : fit-content;
    text-align      : center;
}

.btn:hover {
    background      : black;
    cursor          : pointer;
}

div#auth > span#redirect {
    text-decoration : underline;
    cursor          : pointer;
    margin-top      : 1em;
}

.hide {
    display: none;
}

/*======================================
                CRUDS 
========================================*/

div#users {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#primary-nav {
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
}

.primary-nav input {
    margin: auto;
    width: 20em;
}

.primary-nav input::placeholder {
    color: rgb(199, 198, 198);
    font-size: 0.8em;
    text-indent: 0.8em;
}

.primary-nav .nav-links {
    margin-right: 1em;
}

.primary-nav a {
    margin: 0 0.5em;
    color: black;
    font-size: 1em;
    text-decoration: none;
}

.primary-nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.secondary-nav {
    background-color: gray;
    height: 1.5em;
    align-items: center;
    justify-content: flex-start;
}

.secondary-nav .nav-links {
    margin-left: 0.5em;
}

.secondary-nav a {
    margin: 0 0.2em;
    color: white;
    font-size: 0.7em;
    text-decoration: none;
}

.secondary-nav a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#filter {
    display: inline-flex;
    align-self: flex-start;
}

#create-user-btn {
    width: 100px;
    height: 30px;
    float: right;
}

table {
    width: 100%;
    margin-top: 1em;
    align-self: center;
}

th, td {
    margin: 0 1em;
    text-align: center;
}

th img {
    width: 0.8em;
    margin-right: 0.2em;
}

th:has(img) {
    padding: 0 0.2em;
}

th:has(img):hover {
    background: gainsboro;
    cursor: pointer;
}

main input {
    align-self: flex-end;
    height: 2em;
    margin-top: auto;
}

.action-icons img {
    width: 1.3em;
}

.action-icons img:hover {
    background: rgb(206, 206, 206);
    cursor: pointer;
}

#modal-wrapper {
    position: fixed;
    inset: 0;
    background: rgb(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    width: 80vw;
    height: auto;
    z-index: 2;
    position: relative;
}

#close-modal-btn {
    width: 5em;
    max-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1em;
}

#close-modal-btn:hover {
    cursor: pointer;
    background: gray;
}

#modal header {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;

    min-height: 7.5em;
    display: flex;
    align-items: center;
}

#user-data {
    display: flex;
    width: 100%;
    margin-top: 7em;
    margin-bottom: 3em;
}

#user-img,
#user-info {
    flex: 1;
}

#user-img {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-left: 5em;
}

#user-info {
    margin-right: 5em;
}

#user-img img {
    width: 300px;
    height: 300px;
}

#user-info label,
#user-info input {
    display: block;
    margin: 0.3em 0;
}

#user-info div {
    margin: 0.7em 0;
}

#user-info label {
    font-weight: bold;
}

#user-info input:not([type="submit"]) {
    width: 80%;
}

#user-info input[type="submit"] {
    justify-self: flex-end;
}

#user-info div span {
    font-weight: bold;
}

#status {
    display: inline;
    margin: 1em 0;
    color: green;
    font-weight: bold;
    padding: 0.3em;
}

#change-status-btn {
    display: inline;
    text-align: center;
    vertical-align: middle;

    margin: 1em 0;

    color: gray;
    font-size: 0.5em;
}

#change-status-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

#save-data-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2em;
}
