* {
    box-sizing  : border-box;
    font-family : 'Montserrat', sans-serif;
}

body {
    height          : 100vh;
    width           : 100vw;
    margin          : 0;

    display         : flex;
    flex-direction  : row;
}

/* =================================== 
                UTILS
===================================== */

.hide {
    display         : none !important; 
}

.logo {
    display         : inline-flex;
    align-items     : center;

    color           : black;
    text-decoration : none;
}

.logo > img {
    max-height      : 40px;
    display         : block;
}

.btn {
    color           : white;
    font-weight     : bold;

    background-color: dimgray;
    padding         : 2px 6px;
    width           : fit-content;
    height          : fit-content;
    text-align      : center;
}

.btn:hover {
    background      : black;
    cursor          : pointer;
}

.row {
    
}

.row:hover{
    background-color: gray;
    border-radius   : 30px;
    cursor          : pointer;
}

/* ==================================
            Authentication
===================================== */

body > div#auth, 
body > img {
    flex            : 1 0 50%;
}

div#auth {
    height          : 100%;
    width           : 100%;
    background      : gray;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

div#auth > span#logo {
    position        : absolute;
    top             : 0;
    left            : 0;
}

div#auth > h1 {
    color   : white;
    margin  : 0;
}

div#auth > h6 {
    color    :hsl(0, 4%, 5%);
    margin   : 1em 0;
}

div#auth > form {
    margin          : 2em auto 0;
    width           : 80%;
    height          : fit-content;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

div#auth > form * {
    width   : 100%;
}

div#auth label {
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    margin-bottom   : 0.5em;
}

div#auth input {
    margin-bottom   : 1em;
    height          : 2em;
}

div#auth button {
    height          : fit-content;
    color           : white;
}

div#auth > span#redirect {
    text-decoration : underline;
    cursor          : pointer;
    margin-top      : 1em;
}

/*======================================
                CRUDS 
========================================*/

.crud {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    width           : 100%;
}

.crud nav {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
}

.crud nav.primary {
    background-color: lightgray;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 1em;
}

.crud nav.primary input[type="search"] {
    margin          : auto;
    width           : 20em;
}

.crud nav.primary input[type="search"]::placeholder {
    color           : rgb(199, 198, 198);
    font-size       : 0.8em;
    text-indent     : 0.8em;
}

.crud nav.primary ul.links {
    display         : flex;
    flex-direction  : row;
    padding         : 0;
}

.crud nav.primary ul.links * {
    list-style-type : none;
    margin          : 0 0.3em;
    color           : black;
    
    text-decoration : none;
    font-size       : 1em;
    font-weight     : bold;
}

.crud nav.primary ul.links *:hover {
    text-decoration : underline;
    cursor          : pointer;
}

.crud nav.secondary {
    background-color: gray;
    height          : 1.5em;
    align-items     : center;
    justify-content : flex-start;
    padding         : 0 1em;
}

.crud nav.secondary ul.links {
    display         : flex;
    flex-direction  : row;
    list-style-type : none;
    padding         : 0;
}

.crud nav.secondary ul.links * {
    margin-right    : 0.5em;
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    text-decoration : none;
}

.crud nav.secondary ul.links *:hover {
    text-decoration : underline;
}

.crud main {
    height          : 100%;
    margin          : 1em;
}

div#users main span#filter *,
div#users main button#create {
    height          : 30px;
}

div#users main span#filter {
    display         : inline-flex;
    align-self      : flex-start;
}

div#users main input[value="Filter"] {
    align-self      : flex-end;
    height          : 2em;
    margin-top      : auto;
}

div#users main button#create {
    width           : 100px;
    float           : right;
}

div#users table {
    width           : 100%;
    margin-top      : 1em;
    align-self      : center;
    border-collapse : collapse;
}

div#users table th, 
div#users table td {
    margin          : 0 1em;
    text-align      : center;
    padding         : 0.5em 0;
}

div#users table th > img {
    width           : 0.8em;
    margin-right    : 0.2em;
}

div#users table th:has(img) {
    padding         : 0 0.2em;
}

div#users table th:has(img):hover {
    background      : gainsboro;
    cursor          : pointer;
}

div:has(>#modal) {
    position        : fixed;
    inset           : 0;
    background      : rgb(0,0,0,0.5);

    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 1;
}

div#modal {
    display         : flex;
    align-items     : center;
    justify-content : center;

    background      : white;
    width           : 80vw;
    height          : auto;
    z-index         : 2;
    position        : relative;
}

div#modal button#close {
    width           : 5em;
    max-width       : 100px;
    position        : absolute;
    left            : 0;
    top             : 0;
    margin          : 1em;
}

div#modal button#close:hover {
    cursor          : pointer;
    background      : gray;
}

div#modal header {
    position        : absolute;
    top             : 0;
    left            : 50%;
    translate       : -50%;

    min-height      : 7.5em;
    display         : flex;
    align-items     : center;
}

div#modal form#data {
    display: flex;
    width: 100%;
    margin-top: 7em;
    margin-bottom: 3em;
}

div#modal form#data fieldset#photo,
div#modal form#data div {
    flex: 1;
}

div#modal form#data fieldset#photo {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-left: 5em;
    max-width: fit-content;
}

div#modal form#data div {
    margin-right: 5em;
}

div#modal form#data fieldset#photo > img {
    width: 300px;
    height: 300px;
}

div#modal form#data fieldset#info span:has(+span#user-id),
div#modal form#data fieldset#info span#user-id {
    display: block;
    margin: 0.3em 0;
}

div#modal form#data fieldset#info span:has(+span#user-id) {
    font-weight: bold;
}

div#modal form#data fieldset#info input {
    display: block;
    margin: 0.3em 0;
}

div#modal form#data fieldset#info > div {
    margin: 0.7em 0;
}

div#modal form#data fieldset#info label {
    font-weight: bold;
}

div#modal form#data input:not([type="submit"]) {
    width: 80%;
}

div#modal form#data input[type="submit"] {
    justify-self: flex-end;
}

div#modal button#save {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2em;
}