.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;

  max-width: fit-content;
  margin-left: auto;

  border: 0px;
}

.feature img,
.feature svg {
  width: 300px;
  height: 300px;
  padding: 2em;
}

/* .input {
  display: flex;
  justify-content: center;
  align-items: center;
} */