.main {
  height          : calc(100% - var(--navSub-height));
  width           : 100%;

  position        : absolute;
  top             : calc(var(--navSub-height));
  z-index         : var(--z-main);
}

.main > div {
  height          : 100%;
  width           : 100%;
  margin          : 0;
  position        : relative;
}

.disabled {
  background      : var(--color-dark-3);
  color           : white;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  
  height          : 100%;
}

.disabled > span > svg {
  width           : 10vw;
  
  fill            : white;
}

.disabled > span {
  font-size       : 1.5em;
  text-align      : center;
  padding         : 0 4em;
}

.noData {
  inset: 0;

  display         : flex;
  flex-direction  : column;
  align-items     : center;
}

.noData > span {
  width: fit-content;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-align: center;

  font-size: 1.5em;
  font-weight: 500;

  position: absolute;
  anchor-name: --message;

  padding-top: 1em;

  left: 50%;
  top: 40%;
  transform: translate(-50%, -60%);
}

.main > div > div:has(button) {
  anchor-name: --button;
}

@keyframes bounce {
  0% { transform: translate(0) }
  50% { transform: translate(0, -2em)}
  100% { transform: translate(0) }
}

.noData > svg:first-of-type {
  width: 3em;
  height: 3em;
  fill: var(--color-1);

  position-anchor: --button;
  position: absolute;
  left: calc(anchor(left) + 15px);
  bottom: calc(anchor(top) + 5px);

  animation: bounce 2s ease-in-out infinite;
}

.noData > svg > path {
  stroke: var(--color-dark-1);
}

.noData > svg:last-of-type {
  height: 5em;
  width: 5em;

  position-anchor: --message;
  position: absolute;
  bottom: anchor(top);
}

.create {
    position        : absolute;
    width           : fit-content;
    height          : fit-content;
    right           : 4em;
    bottom          : 4em;
    z-index         : var(--z-create-button);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    width           : 5em;
    height          : 5em;
}

.create > button svg path {
    fill            : var(--color-1);
}

.create > button svg {
    transform       : scale(3);

    user-select     : none;
}

.create > button {
    background      : var(--color-dark-1);
    border          : none;
    border-radius   : 4em;
    backdrop-filter : blur(8px);

    width           : 6em;
    height          : 6em;

    border-radius   : 40px;
    box-shadow      : 
        0 2px 3px black,
        0 5px 10px black;      
    
    position        : absolute;
    inset           : 0;
    z-index         : calc(var(--z-create-button) + 2);

    anchor-name     : --create-button;

    transition      : all 200ms ease-in-out;
}

.create > div {
    background      : var(--color-dark-2);
    border-radius   : 8vw 16vw 16vw 8vw;
    color           : rgb(196, 196, 196);
    font-size       : 0.1em;
    font-weight     : 700;
    height          : fit-content;
    width           : fit-content;
    white-space     : nowrap;

    user-select     : none;

    align-content   : center;

    position        : absolute;
    z-index         : calc(var(--z-create-button) + 1);

    position-anchor : --create-button;

    transition      : none;
}

.create > button:hover {
    background      : var(--color-dark-2);
    cursor          : pointer;
}

.create > button:hover + div {
    font-size       : 1em;
    height          : 2em;
    padding         : 0 1em;

    position-anchor : --create-button;
    right           : anchor(left);

    margin-right    : 0.5em;

    transition      : all 150ms ease;
}

.create > button:active {
    background: black;
}

/* Overlay */
.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.45);
  z-index: var(--z-modal);
}

/* Modal container */
.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: white;
  width: min(80vw, 1024px);
  max-height: 80vh;

  border-radius: 1em;
  overflow: auto;

  box-shadow:
    0 4px 6px rgba(0,0,0,0.4),
    0 10px 20px rgba(0,0,0,0.5);

  position: relative;
  padding: 4.5rem 2rem 2rem;
}

/* Header */
.header {
  font-size: 1.5rem;
  font-weight: 600;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Close button */
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background: none;
  border: none;
  border-radius: 32px;
  padding: 0.3rem;

  cursor: pointer;
}

.close:hover {
  background: var(--color-dark-1);
}

.close svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--color-dark-1);
}

.close:hover svg {
  fill: var(--color-1);
}

@media (max-width: 1024px) {
  .modal {
    width: 92vw;
    padding: 4.5rem 1rem 1rem;
  }

  .modal > form {
    flex-direction: column;
    align-items: center;
  }

  .modal > form > div:has(button) {
    bottom: -5%;
    width: 60%;
  }
}