<h1>Welcome back!</h1>
<h6>Please enter your details</h6>
<form action="/auth/login" method="POST">
    <div>
        <label for="username">Username</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="username" name="username" autocomplete="username" data-id="Username" value=""> 
    </div>
    <div>
        <label for="password">Password</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="password" id="password" name="password" autocomplete="current-password" data-id="Password" value="">
    </div>
    <button type="submit" class="btn" name="button">Login</button>`
    <div class="error-box" id="error-box"></div>
</form>
<span id="redirect" data-url="/register">I don't have an account</span>