<h1>Welcome back!</h1>
<h6>Please enter your details</h6>
<form action="/login/user" method="POST">
    <div>
        <label for="username">Username</label>
        <% if (username.error) { %>
            <span class="validation-error">
            <%- username.error %>
            </span>
        <% } %>
        <input type="text" id="username" name="username" autocomplete="username" value="<%- username.value %>">
    </div>
    <div>
        <label for="password">Password</label>
        <% if (password.error) { %>
            <span class="validation-error">
            <%- password.error %>
            </span>
        <% } %>
        <input type="password" id="password" name="password" autocomplete="current-password" value="<%- password.value %>">
    </div>
    <button type="submit" class="btn" name="button">Login</button>`
</form>
<span id="redirect" data-url="/register">I don't have an account</span>