<h1>Who are you?</h1>
<h6>Please enter your details</h6>
<form action="/auth/register/user" method="POST">
    <div>
        <label for="username">Username</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="username" name="username" autocomplete="username" data-id="Username" value="">
    </div>
    <div>
        <label for="password">Password</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="password" id="password" name="password" autocomplete="current-password" data-id="Password" value="">
    </div>
    <div>
        <label for="givenName">Given Name</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="givenName" name="givenName" autocomplete="given-name" data-id="Given name" value="">
    </div>
    <div>
        <label for="familyName">Family Name</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="familyName" name="familyName" autocomplete="family-name" data-id="Family name" value="">
    </div>
    <div>
        <label for="contact">Contact</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="contact" name="contact" autocomplete="mobile" data-id="Contact" value="">
    </div>
    <div>
        <label for="address">Address</label>
        <span id="validation-error" class="validation-error"></span>
        <input type="text" id="address" name="address" autocomplete="address-line1" data-id="Address" value="">
    </div>
    <button type="submit" class="btn" name="button">Register</button>`
    <div class="error-box" id="error-box"></div>
</form>
<span id="redirect" data-url="/login">I already have an account</span>