.navTop,
.authNav {
  justify-content : space-between;
  align-items     : center;
  padding         : 0 1em;

  position        : absolute;
  z-index         : var(--z-navTop);
  top             : 0;
}

.navTop {
  background      : #2c2c2c;
}

.authNav {
  background      : none;
}

.navTop form {
  width           : 40em;
  height          : 70%;
}

.navTop form > input[type="search"] {
  width           : 100%;
  height          : 100%;
}

.navTop input[type="search"]::placeholder {
  color           : rgb(199, 198, 198);
  font-size       : 0.8em;
  text-indent     : 0.8em;
}

.navTop>ul li > a {
  color           : var(--color-1);
  text-decoration : none;
  font-size       : 1em;
  font-weight     : bold;
  user-select     : none;
}

.navTop>ul li:hover {
  cursor          : pointer;
}

.links {
  display         : flex;
  flex-direction  : row;
  gap             : 0.8rem;
  padding         : 0;
}

.links li {
  list-style-type : none;
}

.redirect {
  margin          : 0 0.5em;
}

.logo > p,
.manageLogo > p {
  display         : inline-flex;
  align-items     : center;
  font-size       : 1.225rem;

  text-decoration : none;
}

.logo:hover,
.manageLogo:hover {
  cursor          : pointer;
}

.logo > p {
  color           : black;
}

.manageLogo > p {
  color           : var(--color-1);
}

.logo:hover {
  cursor          : pointer;
}

@media (max-width: 426px) {
  .authNav {
    position: absolute;
    top: 0.3rem;

    justify-content: center;
  }
}