.navTop {
  background-color: #2c2c2c;
  justify-content : space-between;
  align-items     : center;
  padding         : 0 1em;

  position        : absolute;
  z-index         : var(--z-navTop);
  top             : 0;
}

.navTop form {
  width           : 40em;
  height          : 70%;
}

.navTop form > input[type="search"] {
  width           : 100%;
  height          : 100%;
}

.navTop input[type="search"]::placeholder {
  color           : rgb(199, 198, 198);
  font-size       : 0.8em;
  text-indent     : 0.8em;
}

.navTop>ul li {
  color           : var(--color-1);
  text-decoration : none;
  font-size       : 1em;
  font-weight     : bold;
  user-select     : none;
}

.navTop>ul li:hover {
  cursor          : pointer;
}

.links {
  display         : flex;
  flex-direction  : row;
  padding         : 0;
}

.links li {
  list-style-type : none;
  margin          : 0 0.3em;
}

.logo > a > span > span {
  margin          : 0 0.5em;
}

.logo > a > span {
  display         : inline-flex;
  align-items     : center;

  color           : black;
  text-decoration : none;
}

.logo:hover {
  cursor          : pointer;
}

