.form {
  display: flex;
  width: 100%;
  margin-top: 7em;
  margin-bottom: 3em;
  padding: 0 0 2em 0;
}

.formDiv {
  flex: 1;
  position: relative;
}

.modalButtons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2em;
}

.modalButtons button {
  margin: 0 0 0 0.5em;
}