.wrapper {
  height          : 100%;
  display         : flex;
  flex-direction  : row;
  position        : relative;
}

.wrapper > div {
  flex              : 1 0 50%;

  height            : 100%;
  width             : 100%;
  position          : relative;
}

.wrapper > div > img {
  height            : 100%;
  width             : 110%;

  position          : absolute;
  right             : 0;
  bottom            : 0;
  filter            : brightness(0.75) blur(2px);
  z-index           : 100;
}

.auth {
  background      : white;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  border-radius   : 0 20px 20px 0;

  position        : absolute;
  z-index         : 101;

  box-shadow      : 
    2px 0 3px black,
    5px 0 10px black;
}

.auth > span:first-of-type > p {
  color           : var(--color-dark-1);
}

.auth > h1 {
  color   : var(--color-dark-1);
  margin  : 0;
}

.auth > h6 {
  color    :hsl(0, 4%, 5%);
  margin   : 1em 0;
}

.auth > form {
  margin          : 2em auto 1em;
  width           : 80%;
  height          : fit-content;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.auth > form > div {
  display           : flex;
  flex-direction    : column;
  position          : relative;
  margin            : 1em auto;
  width             : 80%;
}

.auth > form > div > input {
  background        : none;
  border            : 1px solid black;
  border-radius     : 8px;
  outline           : none;
  appearance        : none;

  font-size         : 1.1em;
  padding           : 0.7em;
  color             : black;
  font-weight       : 500;

  height            : 2em;
  width             : 100%;
}

.auth > form > div > label {
  position          : absolute;
  left              : 0;
  top               : 0;
  transform         : translate(5%, 30%);
  transition        : all 150ms ease-in-out;

  font-size         : 1.1em;
  color             : rgb(140, 140, 140);
  font-weight       : 500;

  user-select       : none;
}

.auth > form > div:hover > label,
.auth > form > div > input:valid + label,
.auth > form > div > input:focus + label {
  top               : -1.7em;

  font-size         : 1.1em;
  color             : black;
  font-weight       : 500;
}

.auth > form > div > span {
  display           : block;
  height            : 1em;
  color             : red;
  padding-left      : 0.7em;
}

.auth button {
  border-radius     : 8px;
  background-color  : var(--color-dark-1);
  color             : var(--color-1);
  font-weight       : 700;
  font-size         : 1em;
  padding           : 1em;

  box-shadow        : 
    0 2px 3px black,
    0 5px 10px black;

  width             : 15em;
  margin            : 3% auto 0 auto;
  height            : 100%;
}

.auth button:hover {
  background        : var(--color-dark-3);
  cursor            : pointer;
}

.auth button:active {
  transform         : translateY(-10%);
}

.auth a {
  text-decoration : underline;
  cursor          : pointer;
  margin-top      : 1em;
  color           :black;
}