.wrapper {
  height: 100%;
  position: relative;
}

.auth {
  width: 50%;
  height: 100%;

  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0 20px 20px 0;

  position: absolute;
  z-index: 101;

  box-shadow: 2px 0 3px black, 5px 0 10px black;

  direction: rtl;
  overflow-y: auto;
}

.auth > * {
  direction: ltr;
}

.backgroundImage {
  height: 100%;
  width: 60%;
  position: absolute;

  right: 0;

  z-index: 100;
}

.backgroundImage > img {
  height: 100%;
  width: 100%;

  object-fit: fill;

  filter: brightness(0.75) blur(2px);
}

.auth > span:first-of-type > p {
  color: var(--color-dark-1);
}

.auth > h1 {
  color: var(--color-dark-1);
  margin: 0;
}

.auth > h6 {
  color: hsl(0, 4%, 5%);
  margin: 1em 0;
}

.auth > form {
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  padding: 1em 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button + link */

.auth button,
.auth > a {
  border-radius: 32px;

  font-weight: 700;
  font-size: 1em;
  padding: 0.5em 1em;

  /* box-shadow: 0 2px 3px black, 0 5px 10px black; */
}

.auth button {
  width: 100%;
  margin: 0.75em auto 0;

  background-color: var(--color-dark-1);
  color: var(--color-1);
}

.auth button:hover {
  background: var(--color-dark-3);
  cursor: pointer;
}

.auth button:active {
  transform: translateY(-10%);
}

.auth > a {
  width: 80%;
  text-align: center;
  color: var(--color-2);
  border: 2px solid var(--color-2);
}

.auth > a:hover {
  cursor: pointer;
  background: var(--color-dark-4);
}

/* Floating placeholder inputs */

.inputWrapper {
  position: relative;
  margin: 0 auto 1rem auto;
  width: 100%;
}

.inputWrapper > input {
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  appearance: none;

  font-size: 1rem;
  padding: 0.5em 0.7em;
  color: black;
  font-weight: 500;

  height: auto;
  width: 100%;
}

.inputWrapper > label {
  position: absolute;
  left: 0.7em;
  top: 0.5em;

  font-size: 1rem;
  color: gray;
  font-weight: 500;

  transition: all 150ms ease;
  pointer-events: none;
}

.active > label {
  top: -0.9em;
  transform: none;

  font-size: 0.85rem;
  padding: 0 0.35em;

  background: white;
  color: black;
}

.inputWrapper > span {
  display: block;
  height: 1rem;
  font-size: 0.875rem;
  color: red;
  padding-left: 0.7em;
}

@media (max-width: 570px) {
  .backgroundImage {
    display: none;
  }

  .auth {
    border-radius: 0;
    width: 100%;
    height: 100dvh;
  }
}