.navTop {
  background-color: lightgray;
  justify-content : space-between;
  align-items     : center;
  padding         : 0 1em;
}

.navTop input[type="search"] {
  margin          : auto;
  width           : 20em;
}

.navTop input[type="search"]::placeholder {
  color           : rgb(199, 198, 198);
  font-size       : 0.8em;
  text-indent     : 0.8em;
}

.navTop>ul li {
  color           : black;
  text-decoration : none;
  font-size       : 1em;
  font-weight     : bold;
}

.navTop>ul li:hover {
  text-decoration : underline;
  cursor          : pointer;
}

.links {
  display         : flex;
  flex-direction  : row;
  padding         : 0;
}

.links li {
  list-style-type : none;
  margin          : 0 0.3em;
}

.logo > a > span > span {
  margin          : 0 0.5em;
}

.logo > a > span {
  display         : inline-flex;
  align-items     : center;

  color           : black;
  text-decoration : none;
}

.logo:hover {
  cursor          : pointer;
}

