.errorBox {
  border        : none;
  border-radius : 5px;
  margin        : 0;
  padding       : 0.5em;
  background    : rgb(255, 255, 255);

  text-align    : center;
  color         : rgb(181, 2, 2);
  font-size     : 15px;
  font-weight   : bold
}
