* {
  box-sizing  : border-box;
  font-family : 'Montserrat', sans-serif;
  
  -webkit-text-size-adjust    : 100%;
  -webkit-overflow-scrolling  : touch;
  touch-action                : manipulation;
  /* overscroll-behavior         : auto; */
}

body {
  height          : 100vh;
  width           : 100vw;
  margin          : 0;
  overflow        : hidden;
}

div#root {
  height          : 100%;
  width           : 100%;
  margin          : 0;
  overflow        : auto;
}

:root {
  --z-navTop: 200;
  --z-manage: 100;

  --z-navSub: 200;
  --z-main: 100;

  --z-sidebar: 200;
  --z-create-button: 200;
  --z-table: 100;

  --z-th: 100;
  
  --z-modal: 1000;
  --z-buttons: 1100;

  --navTop-height: 3em;
  --navSub-height: 1.5em;
  --height-section: 80vh;
  --height-footer: 30vh;

  --width-sidebar: 10em;

  --navSub-drop: 100px;

  --padding-vertical-home: 5em;

  --carousel-li-width: 800px;

  --color-1: rgb(234, 214, 34);
  --color-2: rgba(140, 129, 29, 0.989);
  --color-3: rgba(97, 90, 20, 0.989);
  --color-4: rgba(140, 129, 29, 0.499);
  --color-dark-1: #2c2c2c;
  --color-dark-2: #585858;
  --color-dark-3: #707070;
  --color-dark-4: #BABABB;
}

.hide {
  display         : none !important; 
}