* {
  box-sizing  : border-box;
  font-family : 'Montserrat', sans-serif;
}

body {
  height          : 100vh;
  width           : 100vw;
  margin          : 0;
}

div#root {
  height          : 100%;
  width           : 100%;
  margin          : 0;
  overflow        : hidden;
}

:root {
  --z-sidebar: 300;
  --z-create-button: 300;
  --z-th: 300;
  --z-navbar: 400;
  --z-modal: 500;
  --z-buttons: 800;

  --navTop-height: 3em;
  --navSub-height: 1.5em;

  --color-1: rgb(234, 214, 34);
  --color-2: rgba(140, 129, 29, 0.989);
  --color-3: rgba(97, 90, 20, 0.989);
  --color-4: rgba(140, 129, 29, 0.499);
  --color-dark-1: #2c2c2c;
  --color-dark-2: #585858;
  --color-dark-3: #707070;
}

.hide {
  display         : none !important; 
}