* {
  box-sizing  : border-box;
  font-family : 'Montserrat', sans-serif;
}

body {
  height          : 100vh;
  width           : 100vw;
  margin          : 0;
}

div#root {
  height          : 100%;
  width           : 100%;
  margin          : 0;
}

.hide {
  display         : none !important; 
}

.btn {
  color           : white;
  font-weight     : bold;

  background-color: dimgray;
  padding         : 2px 6px;
  width           : fit-content;
  height          : fit-content;
  text-align      : center;
}

.btn:hover {
  background      : black;
  cursor          : pointer;
}