.filled {
    transition: all 200ms ease;
}

.filled:hover{
    background      : white;
    border-radius   : 5px;
    cursor          : pointer;
    color           : rgb(50, 49, 44);
    transform       : translateY(-3px);
    box-shadow      : 
        0 4px 6px var(--color-dark-1),
        0 10px 20px var(--color-dark-1) ;
}