.table {
  table-layout    : auto;
  width           : 100%;
  margin-top      : 0;
  align-self      : center;
  border-collapse : collapse;
}

.table th, 
.table td {
  margin          : 0 1em;
  text-align      : center;
  padding         : 0.5em 0;
}

.table > tbody img {
  width           : 3em
}

.table > tbody tr svg {
  width           : 40px;
  height          : 40px;
  fill            : rgb(89, 89, 89);
}

.noData {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;

  padding-top: 5em;

  font-size: 1.5em;
  font-weight: 500;
}