.table {
    width           : 100%;
    margin-top      : 1em;
    align-self      : center;
    border-collapse : collapse;
}

.table th, 
.table td {
    margin          : 0 1em;
    text-align      : center;
    padding         : 0.5em 0;
}

.table > tbody img {
    width           : 3em
}