.manage {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    width           : 100%;
}

.manage nav {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
}

.manage div:has(nav) {
    position        : sticky;
    top             : 0;
    z-index         : var(--z-navbar);
}

.manage main {
    display         : flex;

    min-height      : fit-content;
    height          : 100vh;
    width           : 100%;
    margin          : 0;
    position        : relative;
}

.manage main>button {
    position        : absolute;
    top             : 3%;
    right           : 3%;
}