.main {
  height          : calc(100% - var(--navSub-height));
  width           : 100%;

  position        : absolute;
  top             : calc(var(--navSub-height));
  z-index         : var(--z-main);
}

.main > div {
  height          : 100%;
  width           : 100%;
  margin          : 0;
  position        : relative;
}

.disabled {
  background      : var(--color-dark-3);
  color           : white;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  
  height          : 100%;
}

.disabled > span > svg {
  width           : 10vw;
  
  fill            : white;
}

.disabled > span {
  font-size       : 1.5em;
  text-align      : center;
  padding         : 0 4em;
}

.noData {
  inset: 0;

  display         : flex;
  flex-direction  : column;
  align-items     : center;
}

.noData > span {
  width: fit-content;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-align: center;

  font-size: 1.5em;
  font-weight: 500;

  position: absolute;
  anchor-name: --message;

  padding-top: 1em;

  left: 50%;
  top: 40%;
  transform: translate(-50%, -60%);
}

.main > div > div:has(button) {
  anchor-name: --button;
}

@keyframes bounce {
  0% { transform: translate(0) }
  50% { transform: translate(0, -2em)}
  100% { transform: translate(0) }
}

.noData > svg:first-of-type {
  width: 3em;
  height: 3em;
  fill: var(--color-1);

  position-anchor: --button;
  position: absolute;
  left: calc(anchor(left) + 15px);
  bottom: calc(anchor(top) + 5px);

  animation: bounce 2s ease-in-out infinite;
}

.noData > svg > path {
  stroke: var(--color-dark-1);
}

.noData > svg:last-of-type {
  height: 5em;
  width: 5em;

  position-anchor: --message;
  position: absolute;
  bottom: anchor(top);
}

