main {
  height          : calc(100% - var(--navSub-height));
  width           : 100%;

  position        : absolute;
  top             : calc(var(--navSub-height));
  z-index         : var(--z-main);
}

.main > div {
  height          : 100%;
  width           : 100%;
  margin          : 0;
  position        : relative;
}

.disabled {
  background      : var(--color-dark-3);
  color           : white;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.disabled > span > svg {
  width           : 10vw;
  
  fill            : white;
}

.disabled > span {
  font-size       : 1.5em;
  text-align      : center;
  padding         : 0 4em;
}