.tableHeaderSort > div > svg {
  width           : 0.8em;
  margin-left     : 0.5em;
  padding         : 0.25em 0.15em 0 0;
  fill            : var(--color-dark-1);
  transform       : scale(1.2);
}

.tableHeaderSort > div:hover {
  background      : none;
  cursor          : pointer;
}