div:has(>.modal) {
  position        : fixed;
  inset           : 0;
  background      : rgb(0,0,0,0.5);

  display         : flex;
  align-items     : center;
  justify-content : center;
  z-index         : var(--z-modal);
}

.modal {
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-wrap       : wrap;

  background      : white;
  min-height      : fit-content;
  width           : 80vw;
  z-index         : var(--z-modal);
  position        : relative;
  border-radius   : 1em;

  overflow: auto;
}

.modal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;

  width: fit-content;
  position: relative;
}

.modal div header {
  margin: 2em 0;
}

.modal div form {
  display         : flex;
  align-items     : center;
  justify-content : center;

  height          : 80%;
  width           : 90%;

  position        : relative;
}

.modal div form > svg {
  width: 300px;
  height: 300px;
  padding: 2em;
}

.modal div form fieldset {
  display: flex;

  height          : auto;
  max-height      : calc(100vh*0.6);
  width: 100%;
  border: 0px;
}

.modal div > form > div:has(button) {
  display: flex;

  position: absolute;
  bottom: -10%;
  right: 1%;
  width: min-content;
}

.modal div > form > div:has(button) button {
  margin-left: 1em;
  z-index: var(--z-buttons);
}