div:has(>.modal) {
  position        : fixed;
  inset           : 0;
  background      : rgb(0,0,0,0.5);

  display         : flex;
  align-items     : center;
  justify-content : center;
  z-index         : 1;
}

.modal {
  display         : flex;
  align-items     : center;
  justify-content : center;

  background      : white;
  width           : 80vw;
  height          : auto;
  z-index         : 2;
  position        : relative;
}

.modal header {
  position        : absolute;
  top             : 0;
  left            : 50%;
  translate       : -50%;

  min-height      : 7.5em;
  display         : flex;
  align-items     : center;
}
