div:has(>.modal) {
  position        : fixed;
  inset           : 0 ;
  background      : rgb(0,0,0,0.5);

  display         : flex;
  align-items     : center;
  justify-content : center;
  z-index         : var(--z-modal);
}

.modal {
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-wrap       : wrap;

  background      : white;
  max-height      : 80vh;
  width           : 80vw;
  z-index         : var(--z-modal);
  position        : relative;
  border-radius   : 1em;

  overflow        : auto;

  box-shadow      : 
    0 4px 6px black,
    0 10px 20px black;
}

.modal > div {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  padding-bottom  : 10em;
  
  height          : fit-content;

  width: 90%;
  position: relative;
}

.modal div header {
  margin: 2em 0;

  color: var(--color-dark-1);
  font-size: 2em;
  font-weight: 1000;
}

.modal div form {
  display         : flex;
  align-items     : center;
  justify-content : center;

  height          : fit-content;
  width           : 100%;

  position        : relative;
}

.modal div form > fieldset > img,
.modal div form > fieldset > svg > circle {
  width: 300px;
  height: 300px;
  padding: 2em;

  fill: var(--color-dark-1);
  fill-opacity: 1;
}

.modal div form > fieldset > svg {
  width: 300px;
  height: 300px;
  padding: 2em;
}

.modal div form fieldset {
  align-self      : flex-start;

  height          : 100%;
  width           : 100%;
  border          : 0px;
}

.modal > div > form > fieldset:first-of-type {
  height          : 100%;
  flex            : 1;
}

.modal > div > form > fieldset:last-of-type { 
  flex            : 3;
}

.modal div > form > div:has(button) {
  display: flex;

  position: absolute;
  bottom: -7em;
  right: 50%;
  transform: translate(50%, 0);
  
  width: 30%;
  height: fit-content;

  z-index: var(--z-buttons);
}

.modal div > form > div:has(button) > div {
  width       : fit-content;

  position    : absolute;
  top         : -100%;
}

.modal div > form > div:has(button) button {
  border-radius     : 8px;
  background-color  : var(--color-dark-1);
  color             : var(--color-1);
  font-weight       : 700;
  font-size         : 1em;
  padding           : 1em;

  box-shadow        : 
    0 2px 3px black,
    0 5px 10px black;

  margin-left       : 1em;
  width             : 100%;
  height            : 100%;
}

.modal div > form > div:has(button) button:hover {
  background        : var(--color-dark-3)
}

.modal div > form > div:has(button) button:active {
  transform         : translateY(-10%);
}

@media (max-width: 1024px) {
  .modal {
    overflow: auto;
  }

  .modal div form {
    flex-direction: column;
    align-items: center;
  }  

  .modal div form fieldset {
    max-height: fit-content;
    justify-content: center;
  }

  .modal div > form > div:has(button) {
    bottom: -5%;
  }
}