.navSub {
  background-color: gray;
  height          : 1.5em;
  align-items     : center;
  justify-content : flex-start;
  padding         : 0 1em;
}

.links {
  display         : flex;
  flex-direction  : row;
  list-style-type : none;
  padding         : 0;
}

.links li {
  margin-right    : 0.7em;
  color           : white;
  font-size       : 0.8em;
  font-weight     : bold;
  text-decoration : none;
}

.links > li:hover {
  text-decoration : underline;
  cursor          : pointer;
}