<nav class="sub">
    <ul class="links">
        <li><a href="./users">Users</a></li>
        <li><a href="#">Items</a></li>
        <li><a href="#">Locations</a></li>   
        <li><a href="#">Suppliers</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Transactions</a></li>
    </ul>
</nav>