.authRedirect {
  text-decoration : underline;
  cursor          : pointer;
  margin-top      : 1em;
  color           :black;
}

.navTopRedirect {
  color           : black;
  text-decoration : none;
  font-size       : 1em;
  font-weight     : bold;
}

.navTopRedirect:hover {
  text-decoration : underline;
  cursor          : pointer;
}

.navSubRedirect {
  color           : white;
  font-size       : 0.8em;
  font-weight     : bold;
  text-decoration : none;
}

.navSubRedirect:hover {
  text-decoration : underline;
}