.auth {
  flex            : 1 0 50%;
  height          : 100%;
  width           : 100%;
  background      : gray;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
}

/* .auth > span#logo {
  position        : absolute;
  top             : 0;
  left            : 0;
} */

.auth > h1 {
  color   : white;
  margin  : 0;
}

.auth > h6 {
  color    :hsl(0, 4%, 5%);
  margin   : 1em 0;
}

.auth > form {
  margin          : 2em auto 0;
  width           : 80%;
  height          : fit-content;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.auth > form * {
  width   : 100%;
}

.auth label {
  color           : white;
  font-size       : 0.9em;
  font-weight     : bold;
  margin-bottom   : 0.5em;
}

.auth input {
  margin-bottom   : 1em;
  height          : 2em;
}

.auth button {
  height          : fit-content;
  color           : white;
}

/* .logo-background {
  height          : 100%;
  width           : 100%;
  display         : block;
} */

/* .logo-text {
  margin          : 0 0.5em;
} */

/* .logo-image {
height            : 40px;
width             : 40px;
} */