.searchBarWrapper {
  position        : relative;
  width           : 100%;
  height          : 100%;

  display         : flex;
  align-items     : center;
}

.searchBarWrapper  > input {
  height          : 100%;
  width           : 80%;
  
  background      : none;
  border-radius   : 8px;
  border          : none;
  outline         : none;
  appearance      : none;

  font-size       : 1em;
  padding         : 0.7em;
  color           : black;
  font-weight     : 500;
  text-overflow   : ellipsis;
  overflow-x      : auto;

  anchor-name     : --input;
}

.searchBarWrapper::before {
  content         : '';
  display         : block;
  width           : 100%;
  height          : 100%;
  background      : white;

  position        : absolute;
  z-index         : -1;

  border-radius   : 8px;
  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.searchBarWrapper  > input::placeholder {
  color           : gray;
}

.searchResults {
  position          : absolute;
  
  background        : white;
  width             : 100%;
  border-radius     : 8px;
  border            : 1px solid black;

  display           : flex;
  flex-direction    : column;

  position-anchor   : --input;
  top               : anchor(bottom);

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;

  max-height        : 20em;
  overflow          : auto;
}

.searchResults > span {
  padding           : 0.5em;
}

.searchResults > span:hover {
  background        : var(--color-dark-2);
  cursor            : pointer;
}

.icon {
  flex              : 1;
  height            : 100%;
  width             : 100%;

  display           : flex;
  justify-content   : center;
  align-items       : center;

  background        : var(--color-1);
  border-radius     : 0 8px 8px 0;

  box-shadow        : 
    -1px 0 2px black,
    -2px 0 4px black;

  transition        : all 150ms ease;
}

.icon:hover{
  cursor            : pointer;

  background        : var(--color-2)
}

.icon:active > svg{
  transform         : scale(0.8);
}

.iconClicked {
  background        : var(--color-2);
}

.icon > svg {
  width             : 1em;
  fill              : var(--color-dark-1);
}