* {
    box-sizing  : border-box;
    font-family : 'Montserrat', sans-serif;
}

body {
    height          : 100vh;
    width           : 100vw;
    margin          : 0;

    display         : flex;
    flex-direction  : row;
}

/* =================================== 
                UTILS
===================================== */

.hide {
    display         : none !important; 
}

.logo {
    display         : inline-flex;
    align-items     : center;

    color           : black;
    text-decoration : none;
}

.logo > svg {
    max-height      : 40px;
    display         : block;
}

.btn {
    color           : white;
    font-weight     : bold;

    background-color: dimgray;
    padding         : 2px 6px;
    width           : fit-content;
    height          : fit-content;
    text-align      : center;
}

.btn:hover {
    background      : black;
    cursor          : pointer;
}

/* .row {
    
} */

/* .row:hover{
    background-color: gray;
    border-radius   : 30px;
    cursor          : pointer;
}

.validation-error {
    color           : rgb(82, 0, 12);
} */