div#auth, 
body > img {
    flex            : 1 0 50%;
}

div#auth {
    height          : 100%;
    width           : 100%;
    background      : gray;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

div#auth > span#logo {
    position        : absolute;
    top             : 0;
    left            : 0;
}

div#auth > h1 {
    color   : white;
    margin  : 0;
}

div#auth > h6 {
    color    :hsl(0, 4%, 5%);
    margin   : 1em 0;
}

div#auth > form {
    margin          : 2em auto 0;
    width           : 80%;
    height          : fit-content;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

div#auth > form * {
    width   : 100%;
}

div#auth label {
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    margin-bottom   : 0.5em;
}

div#auth input {
    margin-bottom   : 1em;
    height          : 2em;
}

div#auth button {
    height          : fit-content;
    color           : white;
}

div#auth > span#redirect {
    text-decoration : underline;
    cursor          : pointer;
    margin-top      : 1em;
}