.manage {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    width           : 100%;
}

.manage nav {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
}

.manage main {
    height          : 100%;
    margin          : 1em;
}