.sidebar {
  height            : 100%;
  background-color  : rgb(159, 158, 158);
  z-index           : var(--z-sidebar);
}

.sidebar>div {
  position          : sticky;
  top               : 100px;
  height            : 100%;
  max-height        : 80vh;
  margin            : 0 auto;
}