.sidebar {
  height            : 100%;
  background        : none;
  width             : fit-content;
  position          : relative;
}

.sidebar>div {
  height            : 100%;
  max-height        : 80vh;
  margin            : 0 auto;
}