.sidebar {
  height            : 100%;
  background        : none;
  width             : var(--width-sidebar);
  max-width         : fit-content;

  position          : absolute;

  anchor-name       : --sidebar;
}

.sidebar>div {
  height            : 100%;
  max-height        : 80vh;
  margin            : 0 auto;
}