.stockSearch {
  position        : absolute;
  bottom          : 0;
  transform       : translate(0, 100%);
  z-index         : var(--z-navSub);

  height          : var(--navSub-drop);
  width           : 40rem;

  display         : flex;
  flex-direction  : column;

  background      : var(--color-dark-1);
  border-radius   : 0 0 16px 16px;

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.stockSearch > span:first-of-type {
  padding       : 1em;

  font-size     : 0.875rem;
  color         : #BABABB
}

.stockSearch > div {
  display       : flex;
}

.stockSearch > div > div {
  width           : 14em;

  display         : flex;
  align-items     : center;
  justify-content : center;

  position        : relative;
  padding-left    : 1em;
}

.stockSearch > div > span:last-of-type {
  display         : flex;
  flex-direction  : column;
  justify-content : center;

  text-wrap       : nowrap;
  text-align      : center;

  padding         : 0 auto;

  color           : var(--color-1);
  font-weight     : 500;

  /* transform       : translate(1rem, -0.8rem); */
  position: absolute;
  right: 2em;
  bottom: 50%;
  transform: translate(0, 50%);
}

.stockSearch > div > span:last-of-type > p {
  margin          : 0; 
}

.noData {
  position        : absolute;
  bottom          : 0;
  transform       : translate(0, 100%);
  z-index         : var(--z-navSub);

  height          : var(--navSub-drop);
  width           : 40em;

  display         : flex;
  justify-content : center;
  align-items     : center;

  background      : var(--color-dark-1);
  border-radius   : 0 0 16px 16px;

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.noData > span {
  text-align:start;
  font-size: 1rem;
  color: white;
  padding: 1em;
}

