.stockSearch {
  position        : absolute;
  bottom          : 0;
  transform       : translate(0, 100%);
  z-index         : var(--z-navSub);

  height          : var(--navSub-drop);
  width           : 40rem;

  display         : flex;
  flex-direction  : row;
  gap             : 1em;
  padding         : 1em;
  justify-content : center;
  align-items     : center;

  background      : var(--color-dark-1);
  border-radius   : 0 0 16px 16px;

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.stockSearch > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.stockSearch > div > span {
  color: #BABABB;
  font-size: 0.875rem;
}

.stockSearch > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 2em;
}

.stockSearch > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8em;
}

.stockSearch > span > p {
  margin: 0;
  color           : var(--color-1);
}

.stockSearch > div > div > div > div {
  max-height: 15em;
  overflow: auto;
}

.noData {
  position        : absolute;
  bottom          : 0;
  transform       : translate(0, 100%);
  z-index         : var(--z-navSub);

  height          : var(--navSub-drop);
  width           : 40em;

  display         : flex;
  justify-content : center;
  align-items     : center;

  background      : var(--color-dark-1);
  border-radius   : 0 0 16px 16px;

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.noData > span {
  text-align:start;
  font-size: 1rem;
  color: white;
  padding: 1em;
}

