.stockSearch {
  position        : absolute;
  bottom          : 0;
  transform       : translate(0, 100%);
  z-index         : var(--z-navSub);

  height          : var(--navSub-drop);
  width           : fit-content;

  display         : flex;

  background      : var(--color-dark-1);
  border-radius   : 0 0 16px 16px;

  box-shadow      : 
    0 2px 3px black,
    0 5px 10px black;
}

.stockSearch > div {
  width           : 18em;

  display         : flex;
  align-items     : center;
  justify-content : center;

  position        : relative;
}

.stockSearch > span {
  display         : flex;
  flex-direction  : column;
  justify-content : center;

  text-wrap       : nowrap;
  text-align      : center;

  padding         : 0 3em 0 2em;

  color           : var(--color-1);
  font-weight     : 500;
}

.stockSearch > span > p {
  margin          : 0; 
}


