.date,
.text {
  display: flex;
  flex-wrap: wrap;
}

.date input:disabled,
.options div fieldset div select:disabled {
  width: 300px;
}

.date label,
.date span,
.text label,
.text span {
  display: flex;
  align-items: center;
  height: 1em;
  margin: 0.2em 0.2em 0.2em 0;
}

.text label {
  width: fit-content;
}

.text span {
  font-weight: bolder;
  height: fit-content;
}

.text span p {
  margin: 0;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options fieldset {
  padding: 0;
}

.options fieldset div label {
  padding-right: 0.3em;
}

.options svg {
  padding-left: 0.3em;
  color: black;
  height: 25px;
  width: 25px;
}
