.options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em
}

.options fieldset {
  padding: 0px;
}

.options fieldset div label {
  padding-right: 0.3em;
}

.options svg {
  padding-left: 0.3em;
  color: black;
  height: 25px;
  width: 25px;
}