.text {
  display: flex;
  flex-wrap: wrap;
}

.text label {
  width: fit-content;
}

.text label,
.text span {
  display: flex;
  align-items: center;
  height: 1em;
  margin: 0 0.3em 0.2em 0.3em;
}

.text span {
  font-weight: bolder;
  height: fit-content;
}

.text span p {
  margin: 0px;
}