.modalFormInfo {
  margin: 0.7em 0;
}

.modalFormInfo input {
  display: block;
  margin: 0.3em 0;
  width: 80%;
}

.modalFormInfo label {
  font-size   : 15px;
  font-weight : bold;
}

.validationError {
  padding     : 0 0 0 0.3em;
  color       : rgba(0, 0, 0, 0.699);
}

.validationError > p {
  display     : inline;
  font-size   : 15px;
  font-weight : bolder;
}