.modalFormInfo {
  margin: 0.7em 0;
}

.modalFormInfo input {
  display: block;
  margin: 0.3em 0;
  width: 80%;
}

.modalFormInfo label {
  font-size   : 15px;
  font-weight : bold;
}

.validationError,
.errorPing {
  padding     : 0 0 0 0.3em;
  color       : rgba(0, 0, 0, 0.699);
}

.validationError > p {
  display     : inline;
  font-size   : 15px;
  font-weight : bolder;
}

.errorPing > p {
  display     : inline;
  font-size   : 15px;
  font-weight : bolder;
  animation   : ping-grow-shake 1.2s forwards;
}

@keyframes ping-grow-shake {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  20% {
    transform: scale(1.2);
    opacity: 1;
  }
  40% {
    transform: scale(1);
  }
  50% { transform: translateX(-2px) rotate(-2deg); }
  60% { transform: translateX(2px) rotate(2deg); }
  70% { transform: translateX(-2px) rotate(-2deg); }
  80% { transform: translateX(2px) rotate(2deg); }
  90% { transform: translateX(-1px) rotate(-1deg); }
  100% { transform: translateX(0) rotate(0); }
}