.modalFormInfo {
  margin: 0.7em 0;
}

.modalFormInfo input {
  display: block;
  margin: 0.3em 0;
  width: 80%;
}

.modalFormInfo label {
  font-weight: bold;
}

.validationError {
  color      : rgb(82, 0, 12);
}