.form > div {
  width: 100%;
}

.text {
  width: 100%;
}

.text div {
  width: 100%;
  margin: 0.8em 0;
}

.text > div > input {
  width: 100%;
}

.date,
.option {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.date > div,
.option > div {
  margin: 0.4em 0.3em 0.4em 0;
}

.errorBox {
  display: flex;
  justify-content: center;
}