.form > div {
  height      : fit-content;
  width       : 100%;
}

.form > div {
  display         : flex;
  flex-direction  : column;
  gap             : 3rem;
}

.form > div > div {
  display         : flex;
  flex-direction  : column;
  gap             : 1rem;
}

.info {
  display         : flex;
  flex-direction  : column;

  position          : relative;
}

.info > span:first-of-type {
  font-weight: 500;
}

.info > span:last-of-type {
  height: 2em;
  align-content: center;
}

.info p {
  font-size   : 1.1em;
  margin      : 0;
  padding     : 0 0.7em;
  color       : black;
} 

.text,
.option {
  position: relative;
}

.createdBy {
  display           : flex;
  gap               : 0.8em;
  justify-content   : flex-start;

  padding-top       : 1em;

  user-select       : none;
}

.createdBy > span {
  font-weight       : 500;
}

.createdBy > input {
  border            : 0;

  appearance        : none;
  outline           : none;
  user-select       : none;
}

.form > div > div:not(:last-child)::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid black;

  position: absolute;
  bottom: -1.5em;
} 

@media (max-width: 1024px) {
  .form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}