.building {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

@keyframes spinning {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg);}
}

.building > svg {
  width: 5em;
  height: 5em;
  fill: var(--color-dark-1);
  animation: spinning 5s infinite linear;
}

.building > p {
  font-weight: 500;
  margin: 0;
}