.crud {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    width           : 100%;
}

.crud nav {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
}

.crud nav.top {
    background-color: lightgray;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 1em;
}

.crud nav.top input[type="search"] {
    margin          : auto;
    width           : 20em;
}

.crud nav.top input[type="search"]::placeholder {
    color           : rgb(199, 198, 198);
    font-size       : 0.8em;
    text-indent     : 0.8em;
}

.crud nav.top ul.links {
    display         : flex;
    flex-direction  : row;
    padding         : 0;
}

.crud nav.top ul.links * {
    list-style-type : none;
    margin          : 0 0.3em;
    color           : black;
    
    text-decoration : none;
    font-size       : 1em;
    font-weight     : bold;
}

.crud nav.top ul.links *:hover {
    text-decoration : underline;
    cursor          : pointer;
}

.crud nav.sub {
    background-color: gray;
    height          : 1.5em;
    align-items     : center;
    justify-content : flex-start;
    padding         : 0 1em;
}

.crud nav.sub ul.links {
    display         : flex;
    flex-direction  : row;
    list-style-type : none;
    padding         : 0;
}

.crud nav.sub ul.links * {
    margin-right    : 0.5em;
    color           : white;
    font-size       : 0.9em;
    font-weight     : bold;
    text-decoration : none;
}

.crud nav.sub ul.links *:hover {
    text-decoration : underline;
}

.crud main {
    height          : 100%;
    margin          : 1em;
}

div#users main button#create {
    height          : 30px;
}

div#users main select#filter {
    height          : 2em;
}

div#users main button#create {
    width           : 85px;
    float           : right;
}

div#users table {
    width           : 100%;
    margin-top      : 1em;
    align-self      : center;
    border-collapse : collapse;
}

div#users table th, 
div#users table td {
    margin          : 0 1em;
    text-align      : center;
    padding         : 0.5em 0;
}

div#users table th > img {
    width           : 0.8em;
    margin-right    : 0.2em;
}

div#users table th:has(img) {
    padding         : 0 0.2em;
}

div#users table th:has(img):hover {
    background      : gainsboro;
    cursor          : pointer;
}

div#users table > tbody img {
    width           : 3em
}

div:has(>#modal) {
    position        : fixed;
    inset           : 0;
    background      : rgb(0,0,0,0.5);

    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 1;
}

div#modal {
    display         : flex;
    align-items     : center;
    justify-content : center;

    background      : white;
    width           : 80vw;
    height          : auto;
    z-index         : 2;
    position        : relative;
}

div#modal button#close {
    width           : 5em;
    max-width       : 100px;
    height          : 50px;
    padding         : 5px 0; 
    position        : absolute;
    left            : 0;
    top             : 0;
    margin          : 1em;
}

div#modal button#close:hover {
    cursor          : pointer;
    background      : gray;
}

div#modal header {
    position        : absolute;
    top             : 0;
    left            : 50%;
    translate       : -50%;

    min-height      : 7.5em;
    display         : flex;
    align-items     : center;
}

div#modal form#data {
    display: flex;
    width: 100%;
    margin-top: 7em;
    margin-bottom: 3em;
    padding: 0 0 2em 0;
}

div#modal form#data fieldset#file,
div#modal form#data div {
    flex: 1;
}

div#modal form#data fieldset#file {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-left: 5em;
    max-width: fit-content;
}

div#modal form#data div {
    margin-right: 5em;
}

div#modal form#data fieldset#file img {
    width: 300px;
    height: 300px;
}

div#modal form#data fieldset#info input {
    display: block;
    margin: 0.3em 0;
}

div#modal form#data fieldset#info > div {
    margin: 0.7em 0;
}

div#modal form#data fieldset#info label {
    font-weight: bold;
}

div#modal form#data input:not([type="submit"]) {
    width: 80%;
}

div#modal form#data input[type="submit"] {
    justify-self: flex-end;
}

div#modal div:has(button#save+button#delete) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2em;
}
