.create {
    position        : absolute;
    width           : fit-content;

    height          : fit-content;
    right           : 3em;
    bottom          : 85px;
    z-index         : var(--z-create-button);
}

.create button svg path {
    fill: white;
}

.create button svg {
    transform: scale(3);
}

.create button {
    background      : linear-gradient(
                    var(--color-2),
                    #ffffff 1%, 
                    var(--color-2) 60%,
                    var(--color-2));
    border          : none;
    border-radius   : 4em;
    backdrop-filter : blur(8px);

    padding         : 2em 2.3em;

    transition      : all 300ms ease;
    z-index         : var(--z-create-button);
}

.create button:hover {
    background      : rgb(84, 68, 0);
    cursor          : pointer;
}

.description {
    background      : rgb(188, 188, 188);
    border-radius   : 30% 80% 80% 30%;
    padding         : 0.7em;
    color           : white;
    white-space     : nowrap;

    position        : absolute;
    left            : 0;
    top             : 50%;
    transform       : translate(-7em, -50%);

    transition      : all 300ms ease;
}