.create {
    position        : absolute;
    width           : fit-content;
    height          : fit-content;
    right           : 4em;
    bottom          : 4em;
    z-index         : var(--z-create-button);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    width           : 5em;
    height          : 5em;
}

.create > button svg path {
    fill            : var(--color-1);
}

.create > button svg {
    transform       : scale(3);

    user-select     : none;
}

.create > button {
    background      : var(--color-dark-1);
    border          : none;
    border-radius   : 4em;
    backdrop-filter : blur(8px);

    width           : 6em;
    height          : 6em;

    border-radius   : 40px;
    box-shadow      : 
        0 2px 3px black,
        0 5px 10px black;      
    
    position        : absolute;
    inset           : 0;
    z-index         : calc(var(--z-create-button) + 2);

    anchor-name     : --create-button;

    transition      : all 200ms ease-in-out;
}

.create > div {
    background      : var(--color-dark-2);
    border-radius   : 8vw 16vw 16vw 8vw;
    color           : rgb(196, 196, 196);
    font-size       : 0.1em;
    font-weight     : 700;
    height          : fit-content;
    width           : fit-content;
    white-space     : nowrap;

    user-select     : none;

    align-content   : center;

    position        : absolute;
    z-index         : calc(var(--z-create-button) + 1);

    position-anchor : --create-button;

    transition      : none;
}

.create > button:hover {
    background      : var(--color-dark-2);
    cursor          : pointer;
}

.create > button:hover + div {
    font-size       : 1em;
    height          : 2em;
    padding         : 0 1em;

    position-anchor : --create-button;
    right           : anchor(left);

    margin-right    : 0.5em;

    transition      : all 150ms ease;
}

.create > button:active {
    background: black;
}