.filter {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter fieldset {
    display: flex;
    flex-wrap: wrap;
}

.filter fieldset fieldset {
    display: flex;
    justify-content: space-around;
}

.filter fieldset fieldset>div {
    display: flex;
    padding: 0 0.3em;
}