.filter {
    width               : fit-content;
    display             : flex;
    flex-direction      : column;
    flex-wrap           : wrap;
    justify-content     : center;
    user-select         : none;
}

.filter fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0;
}

.filter fieldset fieldset {
    display: flex;
    flex-direction  : column;
    justify-content : start;
    margin: 1.3em 0.2em 0 0.2em;
}

.filter fieldset fieldset>div {
    display: flex;
    margin: 0.25em 0;
}

.filter fieldset > legend {
    font-weight: bold;
    user-select: none;
}