div:has(.home) > nav {
  position        : relative;
}

.home {
  height          : calc((var(--height-section) * 4));
  width           : 100%;

  overflow-y      : auto;
  overflow-x      : hidden;
}

.home * > p {
  margin          : 0;
}

.intro {
  padding         : 0 var(--padding-vertical-home);
  width           : 100%;
  height          : calc(var(--height-section) - var(--navTop-height));

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  gap             : 1em;

  position        : relative;
}

.title {
  max-width       : 50%;
}

.title > p {
  font-size       : 2rem;
  font-family     : 'Rubik', sans-serif;
  font-weight     : 500;
  text-align      : center;
}

.intro > button {
  border          : 4px solid var(--color--dark-1);
  border-radius   : 4px;
  
  width           : 200px;
  height          : 50px;

  font-weight     : 700;
  color           : var(--color-dark-1);

  box-shadow      : 
    0 2px 4px black,
    0 5px 10px black;
}

.callToAction:hover {
  cursor          : pointer;
  background      : var(--color-1);
  color           : var(--color-dark-1);
}

.callToAction:active {
  transform       : scale(0.8);
  transition      : all 150ms ease;
}

.lockedButton {
  background      : var(--color-dark-4);

  display         : flex;
  align-items     : center;
  justify-content : center;
}

.lockedButton > svg {
  width           : 1.5em;
}

.hero {
  width           : 100%;
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.hero > img {
  width           : 30%;

  anchor-name     : --hero;
}

.hero::before {
  content         : '';
  height          : 1em;
  width           : 30%;
  height          : 100%;
  background      : linear-gradient(
    transparent,
    white 99%
  );

  position        : absolute;
  z-index         : 1;
}

.intro > div:last-of-type > p {
  text-align      : center;
  margin          : 1em 0;
  padding         : 0 10%;
}

.sectionTwo {
  height          : var(--height-section);
  width           : 100%;

  display         : flex;
  flex-direction  : column;
  position        : relative;
}

.ownership {
  height          : 40%;
  width           : 100%;

  display         : flex;
  flex-direction  : column;

  position        : relative;
}

.ownership > p:first-of-type {
  width           : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  
  color           : var(--color-dark-1);
  background      : white;

  min-height      : 40%;
}

.ownership > p:first-of-type::before {
  content: '';
  width: calc(100% - var(--padding-vertical-home) * 2);
  height: 3px;
  background: linear-gradient(
    to right,
    white,
    black 20%,
    black 80%,
    white
  );

  position: absolute;
  z-index: 0;

  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.ownership > p:last-of-type {
  min-height      : 60%;
  padding         : 0 var(--padding-vertical-home);

  color           : var(--color-dark-4);
  background      : var(--color-dark-2);

  display         : flex;
  justify-content : center;
  align-items     : center;

  text-align      : center;
}

.purpose {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  gap             : 1em;

  padding         : 0 var(--padding-vertical-home);

  height          : var(--height-section);
  position        : relative;
}

.purpose::before {
  content         : '';
  width           : calc(100% - var(--padding-vertical-home) * 2);
  height          : 80%;
  background      : white;

  border-radius   : 16px;

  position        : absolute;
  z-index         : -1;

  box-shadow      : 
    0 2px 4px black,
    0 5px 10px black;
}

.purpose > div {
  display         : flex;
  align-items     : center;
  justify-content : flex-start;

  width           : 100%;
}

.purpose > div > svg {
  width           : 1em;
  height          : 1em;

  margin-left     : 20%;
}

.purpose > div > p {
  margin-right    : 20%;
}

.purpose > div:not(:last-of-type) > svg {
  stroke          : var(--color-dark-1);
  font-size       : 4em;
  stroke-width    : 3px;
}

.purpose > div:last-of-type > svg {
  stroke          : green;
  fill            : green;
  stroke-width    : 1px;
  font-size       : 5em;
}

.purpose > div:nth-child(odd) {
  background      : var(--color-dark-4);
}

.features {
  height          : var(--height-section);
}

.features > header {
  font-size       : 55px;
  max-height      : 20%;

  padding         : 0 10%;
  anchor-name     : --features;
}

@keyframes carousel {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.features > div {
  display         : flex;
  align-items     : center;
  gap             : 5em;
  padding         : 0;
  margin          : 0;

  width           : calc(var(--carousel-li-width) * 10);
  height          : 80%;
  animation       : carousel 60s infinite linear;
}

.features > div > ul {
  display         : flex;
  align-items     : center;
  padding         : 0;
  margin          : 0;

  width           : calc(var(--carousel-li-width) * 5);
  height          : 100%;
}

.features > div > ul:first-of-type {
  anchor-name: --original-carousel
}

.features > div > ul:last-of-type {
  position        : absolute;
  position-anchor : --original-carousel;
  left            : anchor(right);
  z-index         : 1;
}

.features > div > ul > li {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : var(--carousel-li-width);
  height          : 100%;
}

.features > div > ul > li > div {
  display         : flex;
  flex-direction  : column-reverse;
  justify-content : flex-start;
  align-items     : center;
  gap             : 1em;

  border-radius   : 16px;

  width           : 700px;
  height          : 90%;
  background      : white;

  box-shadow      : 
    0 2px 4px black,
    0 5px 10px black;
}

.features > div > ul > li > div > img {
  width           : 650px;
  aspect-ratio    : 16 / 9;
  border-style    : solid;
  border-color    : black;
  border-width    : 2px 2px 0 2px;
}

.features > div > ul > li > div > p {
  font-size       : 1.2rem;
  font-weight     : 700;
  background      : var(--color-dark-1);
  color           : white;

  flex            : 1;
  width           : 100%;
  border-radius   : 16px 16px 0 0;

  display         : flex;
  justify-content : start;
  align-items     : center;
  padding-left    : 1em;
}

.sectionLast {
  width           : 100%;
  height          : var(--height-section);

  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

.vision,
.closing {
  padding         : 2em var(--padding-vertical-home);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : flex-start;

  gap             : 1em
}

.vision > p,
.closing > p {
  text-align      : justify;
  text-indent     : 3em;
}

.closing > div {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : flex-start;

  gap             : 1em;
}

.sectionLast > footer {
  width           : 100%;
  height          : var(--height-footer);
  background      : var(--color-dark-4);

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : flex-start;
}

.sectionLast > footer > p {
  font-size       : 1em;
  font-weight     : 500;
  padding         : 0 var(--padding-vertical-home);
}