.loading {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.85);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  animation: carousel 5s infinite linear;
}

.box > g {
  transform-box: fill-box;
  transform-origin: center;
  animation: spinning 5s infinite linear;
}

@keyframes spinning {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@keyframes carousel {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

.text {
  line-height: 1.2em;
}

.message {
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
}